---
layout: default
title: Talks
---
<ul class="posts">
  {% assign talks = site.talks | sort: 'date' | reverse %}
  {% for talk in talks %}

  <li>
    <h2>
      {% if talk.post_url %}
        <a href="{{ talk.post_url }}">{{ talk.title }} &raquo; </a>
      {% else %}
        <a href="{{ talk.url }}">{{ talk.title }} &raquo; </a>
      {% endif %}
    </h2>
    <p class="date">{{ talk.date | date_to_string }}</p>
    {% if talk.youtube %}
      <iframe width="560" height="315" src="https://www.youtube.com/embed/{{ talk.youtube }}" frameborder="0" allowfullscreen></iframe>
    {% elsif talk.vimeo %}
      <iframe src="https://player.vimeo.com/video/{{ talk.vimeo }}" width="560" height="315" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    {% endif %}
  </li>
  {% endfor %}
</ul>