---
layout: default
title: Talks
---
<ul class="posts">
  {% for talk in site.talks %}

  <li>
    <h2>
      {% if talk.post_url %}
        <a href="{{ talk.post_url }}">{{ talk.title }} &raquo; </a>
      {% else %}
        <a href="{{ talk.url }}">{{ talk.title }} &raquo; </a>
      {% endif %}
    </h2>
    <p class="date">{{ talk.date | date_to_string }}</p>
    {% if talk.youtube %}
      <iframe width="560" height="315" src="https://www.youtube.com/embed/{{ talk.youtube }}" frameborder="0" allowfullscreen></iframe
    {% endif %}
  </li>
  {% endfor %}
</ul>