---
layout: home
---
{{ content }}

<footer>
  <ul>
    <li>
      <a href="mailto:neil@kimmett.me"><i class="icon-envelope-alt icon-large"></i></a>
    </li>
    <li>
      <a href="https://twitter.com/neilkimmett"><i class="icon-twitter icon-large"></i></a>
    </li>
    <li>
      <a href="https://github.com/neilkimmett"><i class="icon-github icon-large"></i></a>
    </li>
    <li>
      <a href="https://instagram.com/kimmett"><i class="icon-instagram icon-large"></i></a>
    </li>
  </ul>
</footer>